/* TITLE */
.title {
  background-color: royalblue;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 1px 5px;
}

.title > img {
  width: 12px;
}

.title > h1 {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 10px;
}
/* ALT_NAME */
.altName {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.altName > span {
  font-size: 12px;
  text-transform: uppercase;
  color: royalblue;
}

.altName > img {
  padding: 0 8px;
  width: 28px;
}
/* INFO_FLIGHT */
.infoFlight {
  display: flex;
  align-items: center !important;
  padding-bottom: 20px;
  padding-left: 8px;
  text-transform: uppercase;
}

.infoFlight > div {
  text-align: center;
  font-weight: bold;
  line-height: 0.5em;
}

.infoFlight > div > h3 {
  color: royalblue;
  line-height: 0.5em;
  font-size: 8px;
  margin: 0;
}

.departure > span {
  margin-right: 5px;
}

.infoFlight > div > span {
  font-size: 8px;
  line-height: 0.1em;
}

.banner {
  position: relative;
  cursor: pointer;
}

.bannerImageStart {
  position: absolute;
  left: -100px;
  z-index: 3;
}

.bannerImageEnd {
  position: absolute;
  left: -35px;
  top: 75px;
  z-index: 4;
}

.bannerCntent {
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  width: 200px;
  height: 80px;
  left: 50px;
  top: 25px;
}

/* HOVER */
.banner:hover .bannerCntent {
  width: 400px;
  height: 150px;
  top: -5px;
  left: 0;
}

.banner:hover .title > img {
  width: 24px;
}

.banner:hover .title > h1 {
  font-size: 18px;
}

.banner:hover .altName > span {
  font-size: 30px;
}

.banner:hover .altName > img {
  padding: 0 15px;
  width: 64px;
}

.banner:hover .infoFlight {
  padding-bottom: 10px;
  padding-left: 40px;
}

.banner:hover .infoFlight > div > h3 {
  line-height: 1.5em;
  font-size: 12px;
}

.banner:hover .infoFlight > div > span {
  margin-right: 15px;
  line-height: 1.5em;
  font-size: 11px;
}

* {
  transition: all 0.6s ease;
}

@media only screen and (max-width: 576px) {
  .bannerImageStart {
    width: 112px;
    left: -50px;
  }
  .bannerCntent {
    border-radius: 10px;
    height: 55px;
    left: 45px;
    top: 15px;
  }
  .title {
    padding: 0 10px;
  }

  .altName {
    margin: 0;
  }

  .altName > span {
    font-size: 10px;
  }

  .altName > img {
    width: 26px;
  }
  .infoFlight > div > h3 {
    line-height: 1em;
    font-size: 7px;
  }
  .infoFlight > div > span {
    font-size: 7px;
  }
  .bannerImageEnd {
    left: -15px;
    top: 50px;
    width: 56px;
  }
  .banner:hover .bannerCntent {
    width: 280px;
    height: 100px;
    top: -5px;
    left: 12px;
  }
  
  .banner:hover .title > img {
    width: 18px;
  }
  
  .banner:hover .title > h1 {
    font-size: 16px;
  }
  
  .banner:hover .altName > span {
    font-size: 20px;
  }
  
  .banner:hover .altName > img {
    width: 52px;
  }
  
  .banner:hover .infoFlight {
    padding-left: 40px;
  }
  
  .banner:hover .infoFlight > div > h3 {
    font-size: 9px;
    margin: 5px 0;
  }
  
  .banner:hover .infoFlight > div > span {
    font-size: 8px;
  }
}
