 /* COLORS MAIN 
 yellow - #eeba4c
 red - #e3493b
 aqua - #23b5af
 dark-aqua - teal
 dark - #3a3a3c
 light - #ffffff
 dark-green - #002724
 */

.gallery {
  /* background: linear-gradient(45deg, #3a3a3c, grey 50%, #3a3a3c); */
  background: url("./img/main.png") no-repeat fixed bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: brightness(75%);
  padding-top: 150px;
}

.description {
  text-align: center;
}

.description span {
  color: #eeba4c;
  position: relative;
}

.description h2 {
  font-size: 50px;
  font-weight: bold;
  color: #e3493b;
  line-height: 1em;
}

.description h2 span {
  color: #ffffff;
}

.description p {
  color: #ffffff;
  line-height: 1.8em;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 18px;
}

.column > img {
  margin-top: 28px;
  vertical-align: middle;
  width: 100%;
  filter: blur(1px);
  transition: all 0.5s ease-in-out;
}

.column > img:hover {
  transform: scale(1.3);
  filter: blur(0);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .row {
    padding: 0 20px;
  }
  .column {
    flex: 30%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    padding: 0;
  }
  .column {
    flex: 50%;
    max-width: 100%;
  }
}

