.goodOne {
  background: linear-gradient(90deg, #000000, darkred 50%, #000000);
  color: #ffffff;
  padding: 100px 0;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo > img {
  box-shadow: 50px 50px 20px #ffffff;
  height: 450px;
  width: 50%;
}

.infoGood {
  padding: 100px;
}

.infoGood h4 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.infoGood h6 {
  font-size: 25px;
  padding-bottom: 20px;
}

.infoGood p {
  font-size: 17px;
}

.size > fieldset {
  border: none;
}

.listSize {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.listSize > label > span {
  background-color: #ffffff;
}

.arrow {
    position: fixed;
    bottom: 100px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .photo > img {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .photo > img {
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .photo > img {
    width: 80%;
  }
}