.goodOne {
  background: linear-gradient(90deg, #000000, darkred 50%, #000000);
  color: #ffffff;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* position: fixed; */
  z-index: 11;
}

.contentGoodOne {
  display: flex;
  margin-bottom: 50px;
}

.photo {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.photo > img {
  width: 50%;
  box-shadow: 50px 50px 20px #ffffff;
  height: 500px;
}

.infoGood {
  width: 40%;
  padding: 100px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  font-size: 25px;
  padding-bottom: 20px;
}

.description {
  font-size: 17px;
}

.size > fieldset {
  border: none;
}

.listSize {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.listSizeZero {
  border: none;
}

.listSize > label > span {
  background-color: #ffffff;
}

.text {
  padding: 5px;
}

.infoGood > button {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}

.arrow {
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.footer {
  background-color: rgba(255, 253, 253, 0.3);
}