.basket {
  background: linear-gradient(90deg, #000000, darkred, #000000);
  color: #ffffff;
  padding-top: 80px;
}

.good {
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.good > img {
  width: 205px;
  height: 300px;
  margin: 10px 0;
}

.good h6 {
  font-size: 14px;
}

.good button {
  text-transform: uppercase;
  font-size: 9px !important;
}

.continue {
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  z-index: 3 !important;
  position: relative;
}

.continue>span {
  text-transform: uppercase;
  color: darkred;
}

@media only screen and (max-width: 990px) {
  .good > img {
    width: 160px;
    height: 250px;
  }
  .good h6 {
    font-size: 9px;
  }
  .good button {
    font-size: 8px !important;
  }
  .good p {
    font-size: 11px !important;
  }
  .continue {
    font-size: 14px;
  }
  .continue button {
    font-size: 14px !important;
  }
}


@media only screen and (max-width: 768px) {
  .good > img {
    width: 120px;
    height: 180px;
  }
  .good button {
    width: 100% !important;
  }
  .continue {
    font-size: 12px;
    height: 60px;
  }
  .continue button {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 576px) {
  .good > img {
    width: 60px;
    height: 100px;
  }
  .good h6 {
    font-size: 6px;
  }
  .good button {
    width: 100% !important;
    font-size: 6px !important;
  }
  .good p {
    font-size: 7px !important;
  }
  .continue {
    height: 40px;
    font-size: 7px;
  }
  .continue button {
    font-size: 6px !important;
  }
}