/* FRAME */
.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 50px; */
}

.headerMain>div {
    margin: 0 50px;
}

.frame {
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 75px;
    width: 450px;
    height: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO AND AUTHORIZATION */
.logo {
    display: flex;
    font-size: 80px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.authorization>div {
    padding-left: 10px;
}

.authorization img {
    width: 20px;
    margin-left: 175px;
}

.signIn {
    display: flex;
}

.signIn>a {
    text-decoration: none;
    color: #ffffff;
}

/* SIGN_OUT */
.signOut {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signOut>a {
    text-decoration: none;
    color: #ffffff;
}

.signOut>button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
}

/* NAVIGATION */
.navigation {
    font-size: 25px;
}

.navigation nav>a {
    text-decoration: none;
    color: #ffffff;
    margin: 20px;
}

