/* BASKET */
.miniBasket {
  /* margin-right: 20px; */
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniBasket > img {
  width: 32px;
}

.aroundBasketNon {
  display: none;
}

.backBasketThree {
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 10 !important;
  background: #ffffff;
  width: 250px;
  border: 1px solid #000000;
  padding: 15px;
  color: #23b5af;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.backBasketMore {
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 10 !important;
  background: #ffffff;
  width: 250px;
  border: 1px solid #000000;
  padding: 15px;
  color: #23b5af;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.contentBasket {
  height: 87%;
  overflow: hidden;
}

.toBasket {
  width: 100%;
  height: 13%;
  text-decoration: none;
  text-transform: uppercase;
  color: #23b5af;
  border: 1px solid #23b5af;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.text {
  text-transform: uppercase;
  font-size: 12px;
}

.good > img {
  width: 48px;
  height: 72px;
  margin-right: 20px;
}

.good {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.good>img {
  background-color: #23b5af;
}

.name {
  margin-bottom: 5px;
}

.otherGood {
  display: flex;
  justify-content: center;
  margin: 25px;
  color: #23b5af;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .miniBasket {
    width: 50px;
    height: 50px;
  }
  
  .miniBasket > img {
    width: 25px;
  }
}