.registration {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration>h1 {
    font-size: 50px;
}

.data>div {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.data>div>input {
    padding: 10px;
    margin: 5px 0;
}

.registration>button {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 40px;
}

.arrow {
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}