.good {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    max-width: 300px;
    margin: 20px 10px 30px;
}

.good img {
    width: 300px;
    height: 450px;    
}

.good>div {
    font-size: 17px;
    color: #ffffff;
}