.slider {
  box-sizing: border-box;
  background-color: #3a3a3c;
}

.slider video {
  display: block;
  width: 100%;
}

.item {
  height: 100vh;
}

.caption {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1 !important;
}

@media only screen and (max-width: 768px) {
  .caption {
    position: static !important;
  }
}
