.slider {
    height: 100vh;
}

.intro {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title>h1 {
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    color: #ffffff;
    padding: 0;
    line-height: 0.7em;
}

.title>p {
    font-size: 10px;
    color: #ffffff;
    width: 200px;
}

.title>a>button {
    background: none;
    padding: 5px 40px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    color: #ffffff;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.colorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.colorOverlay>video {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 11;
    padding: 20px 0;
}

.footer {
    background: linear-gradient(90deg,#000000, darkred 50%, #000000);
}