/* VIDEO */
.video {
    background-color: #002724;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}

.stick {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.stick::after {
    content: "";
    height: 1px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: -4px;
    left: 12px;
}

.video>h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    line-height: 0;
}

.video>h2>span {
    color: #15b8a7;
}

.video>p {
    color: #ffffff;
    line-height: 1.8em;
    width: 1025px;
    margin: 0 auto;
}

.video>a>button {
    background: none;
    border: 3px solid #15b8a7;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #15b8a7;
    width: 160px;
    height: 45px;
    margin: 25px 0;
    cursor: pointer;
}

.playerWrapper {
    display: flex;
    justify-content: center;
}

/* BLOG */
.blog {
    display: flex;
    height: 100vh;
}

.blog>img {
    width: 60%;
}

.text {
    width: 40%;
    background: linear-gradient(#b1d1ce, #002724);
    padding: 60px;
}

.textTitle {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.textTitle>span {
    color: #ffffff;
}

.text>ul>li {
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2.2em;
    color: wheat;
}

.text>a>button {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 17px;
}