.ticket {
    border: 2px solid #000;
    margin: 10px !important;
    border-radius: 25px;
  }
  
  .price {
    padding: 5px 40px !important;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px 0 0 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .price > div {
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000;
    text-align: center;
  }
  
  .price button {
      width: 100%;
  }
  
  
  @media only screen and (max-width: 990px) {
      .price {
          font-size: 12px;
      }
      .price  button {
          font-size: 10px;
      }
      .flightData {
          font-size: 12px;
      }
      .flightData h5 {
          font-size: 14px;
      }
  }
  
  @media only screen and (max-width: 768px) { 
      .price {
          border-radius: 20px 20px 0 0;
      }
  }
  
  @media only screen and (max-width: 576px) { 
      .price {
          font-size: 10px;
      }
      .price  button {
          font-size: 10px;
      }
      .flightData {
          font-size: 10px;
      }
      .flightData h5 {
          font-size: 12px;
      }
  }