.inputData {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.inputData h2 {
  font-size: 22px;
  margin: 0;
}

.info {
  margin-top: 10px;
  display: flex;
  align-items: center !important;
  text-align: center;
}

.foundData {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 !important;
  padding-bottom: 5px !important;
}

.foundData h1 {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

@media only screen and (max-width: 990px) {
  .inputData h2 {
    font-size: 18px;
  }
  .info {
    font-size: 14px;
  }
  .info img {
    width: 25px;
  }
  .foundData h1 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .inputData {
    padding: 5px;
  }
  .inputData h2 {
    font-size: 15px;
  }
  .info {
    font-size: 12px;
  }
  .foundData h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .inputData h2 {
    font-size: 11px;
  }
  .info {
    font-size: 10px;
  }
  .foundData h1 {
    font-size: 18px;
  }
}
