/* FOOTER */
.footerHome {
    background: url('./img/footer.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

.footerHomeContent {
    padding: 88px;
}

.footerHomeWithoutButton {
    display: flex;
    justify-content: space-between;
    color: #1a4c3e;
    font-size: 19px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.title span {
    color: #ffffff;
}

.social nav {
    margin-top: 30px;
}

.social nav>a {
    margin-right: 30px;
}

.subscribe {
    display: flex;
    margin-right: 70px;
}

.placeholders>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.placeholders>div>input,
textarea {
    background: none;
    border: none;
    outline: none;
    resize: none;
    margin-top: 40px;
    width: 350px;
    height: 19px;
    border-bottom: 2px solid #1a4c3e;
    color: #1a4c3e;
}

.footerHomeContent>button {
    background: none;
    border: none;
    outline: none;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #1a4c3e;
    cursor: pointer;
}

.reserve {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a4c3e;
    font-size: 14px;
}

.reserve>h3 {
    font-weight: normal;
    margin-left: 15px;
}

.reserve>img {
    width: 19px;
}