.ticket {
  background: url("./books.jpg") no-repeat fixed bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 150px 0;}

.inputData {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.inputData h2 {
  font-size: 22px;
  margin: 0;
}

.info {
  margin-top: 10px;
  display: flex;
  align-items: center !important;
  text-align: center;
}

.rightSide {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px !important;
}

@media only screen and (max-width: 990px) {
  .inputData h2 {
    font-size: 18px;
  }
  .info {
    font-size: 14px;
  }
  .info img {
    width: 25px;
  }
  .rightSide h2 {
    font-size: 22px;
  }
  .rightSide h3 {
    font-size: 18px;
  }
  .rightSide p,label {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .inputData {
    padding: 5px;
  }
  .inputData h2 {
    font-size: 15px;
  }
  .info {
    font-size: 12px;
  }
  .ticket button {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .inputData h2 {
    font-size: 11px;
  }
  .info {
    font-size: 10px;
  }
}
