.ticket {
  background: rgba(159, 197, 218, 0.5);
}

.ticketContent {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.leftSide {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 25%;
    padding: 20px;
    margin-right: 20px;
}

.inputData h2 {
    font-size: 22px;
}

.flight {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.flight>img {
    margin-right: 15px;
}

.flight>div {
    text-transform: capitalize;
    font-size: 18px;
}

.flight>div>span {
    display: flex;
}

.rightSide {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.contactData {
  display: flex;
  flex-wrap: wrap;
}

.contactData > h2 {
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.data > input,
.data > select {
  padding: 15px;
  width: 325px;
  font-size: 14px;
}

.personalData > h3,
.passport > h3 {
  width: 100%;
}

.personalData,
.passport {
  display: flex;
  flex-wrap: wrap;
}

.disableBnt {
  cursor: pointer;
  float: right;
  margin: 25px;
  width: 180px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.unableBtn {
  cursor: pointer;
  float: right;
  margin: 25px;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 100px;
}
